.header {
  background-color: #1c2b35;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 140px;
}

.header a {
  color: white;
  text-decoration: none;
  margin-left: 36px;
  transition: 0.5s;
}

.header a:hover {
  color: orange;
}
